@model aspMVCproject.Models.AddEmployeeViewModel


@{
}
<h1>Add Employee</h1>
<form asp-controller="Employee" asp-action="Add" method="post" class="nt-5">
    
    @* <div class="mb-3">
        <label for="" class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id"></input>
    </div> *@
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name"></input>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email"></input>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Salary</label>
        <input type="number" class="form-control" asp-for="Salary"></input>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Date of Birth</label>
        <input type="date" class="form-control" asp-for="DateOfBirth"></input>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Department</label>
        <input type="text" class="form-control" asp-for="Department"></input>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>
